/******************************************
*
* Load in fancy fonts
*
******************************************/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v8/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

/******************************************
*
* Global rules
*
******************************************/

body, html {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-weight: normal;
}

table {
  border: 1px solid #CCC;
  min-width: 460px;
}

table td {
  padding: 10px;
}
